<div class="container-fluid">

    <form [formGroup]="form" (ngSubmit)="submit()" class="formGroup">
        <div class="row">
            <mat-form-field appearance="fill" floatLabel="always" style="padding-right: 20px">
                <mat-label>Team</mat-label>
                <mat-select id="teamSelect" formControlName="teamId" [required]="true" placeholder="Select a team">
                    <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
                        {{team.city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button id="trackBtn" mat-raised-button color="primary" type="submit">Track Team</button>
        </div>
    </form>

    <ng-container *ngFor="let teamId of teamIds$ | async ">
        <app-team-card *ngIf="teamsMap[teamId]" [team]="teamsMap[teamId]" ></app-team-card>
    </ng-container>
</div>
