<mat-card>
    <mat-card-title>
        {{team.city}} [{{team.abbreviation}}]
        <button id="remove{{team.abbreviation}}" mat-button color="primary" aria-label="Remove Team" title="Remove Team" (click)="remove()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </mat-card-title>
    <mat-card-subtitle>{{team.conference}}ern Conference</mat-card-subtitle>
    <mat-card-actions>
        <button id="results{{team.abbreviation}}" mat-raised-button routerLink="./results/{{team.id}}" color="primary" aria-label="See game results" title="See game results">
            See game results >>
        </button>
    </mat-card-actions>
</mat-card>
