<mat-card>
    <mat-card-title>
        {{team.city}} [{{team.abbreviation}}]
        <button id="remove{{team.abbreviation}}" mat-button color="primary" aria-label="Remove Team" title="Remove Team" (click)="remove()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </mat-card-title>
    <mat-card-subtitle>{{team.conference}}ern Conference</mat-card-subtitle>
    <mat-card-content>
        <mat-divider></mat-divider>

        <div *ngIf="!!(games$ | async)?.length; else no_results">
            Results for the past 12 days:

            <ng-container *ngFor="let game of games$ | async">
                <div *ngIf="getScoreDiff(game) > 0">
                    W
                </div>
                <div *ngIf="getScoreDiff(game) < 0">
                    L
                </div>
                <div *ngIf="getScoreDiff(game) == 0">
                    D
                </div>
                <!--                        {{game | json}}-->
            </ng-container>

            <div>Avg pts scored: <b>{{avgPointsScored | number: '1.0-0'}}</b></div>
            <div>Avg pts conceded: <b>{{avgPointsConceded| number: '1.0-0'}}</b></div>
        </div>

        <ng-template #no_results>
            No results for the past 12 days
        </ng-template>

        <div>
            <img class="icon" [src]="icon">
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button id="results{{team.abbreviation}}" mat-raised-button routerLink="./results/{{team.abbreviation}}" color="primary" aria-label="See game results"
                title="See game results">
            See game results >>
        </button>
    </mat-card-actions>
</mat-card>
