<div *ngIf="team else loading" class="pt-3">
    <mat-card>
        <mat-card-title>
            {{team?.city}} [{{team?.abbreviation}}]
            <button id="remove{{team?.abbreviation}}" mat-button color="primary" aria-label="Remove Team" title="Remove Team" (click)="remove()"
                    style="float: right">
                <mat-icon fontIcon="close"></mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle>{{team?.conference}}ern Conference</mat-card-subtitle>
        <mat-card-content>
            <mat-divider class="pb-3"></mat-divider>

            <div class="row">
                <div *ngIf="!!(games$ | async)?.length; else no_results" class="col-md-3 pb-3">
                    <div class="pb-2">Results for the past 12 days:</div>

                    <ng-container *ngFor="let game of games$ | async">
                        <ng-container [ngSwitch]="getGameResult(game)">
                            <ng-container *ngSwitchCase="'W'">
                                <span class="dot won"></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'L'">
                                <span class="dot lost"></span>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <span class="dot draw"></span>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <div class="pt-3">Avg pts scored: <b>{{avgPointsScored | number: '1.0-0'}}</b></div>
                    <div class="pb-3">Avg pts conceded: <b>{{avgPointsConceded| number: '1.0-0'}}</b></div>
                </div>

                <ng-template #no_results>
                    <div class="col-md-3 pb-3">No results for the past 12 days</div>
                </ng-template>

                <div class="col-md-9">
                    <img class="icon" [src]="icon">
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button id="results{{team?.abbreviation}}" mat-raised-button routerLink="./results/{{team?.abbreviation}}" color="primary"
                    aria-label="See game results" title="See game results">
                See game results >>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading></ng-template>
