.icon {
    width: 150px;
    height: 150px;
}

.dot {
    font-weight: bold;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.won {
    background-color: forestgreen;
}

.won::after {
    content: 'W';
}

.lost {
    background-color: firebrick;
}

.lost::after {
    content: 'L';
}

.draw {
    background-color: grey;
}

.draw::after {
    content: 'D';
}
